{% extends "htc/info/info_frame.html" %}

{% block page_title %}
Documents
{% endblock %}

{% block header_title %}
Documents
{% endblock %}

{% block textcontent %}
	<div class="well">
		<h3>User guide</h3>
		<ul>
			<li>HT Classifier site user's instructions: <a href="/static/htc/docs/HTclassifier_website_guide.docx">HTclassifier_website_guide.docx</a></li>
		</ul>
	</div>

	<div class="well">
		<h3>Pilot project specification and evaluation</h3>
		<p>
			<ul>
				<li>Proposal (May 2013): <a href="/static/htc/docs/HT_automatic_classification.docx">HT_automatic_classification.docx</a></li>
				<li>Kate Wild's analysis (12 July 2013): <a href="/static/htc/docs/HTOED_classifier_preliminary_analysis.doc">HTOED_classifier_preliminary_analysis.doc</a></li>
				<li>Evaluation (23 July 2013): <a href="/static/htc/docs/htclassifier_evaluation_20130723.xlsx">htclassifier_evaluation_20130723.xlsx</a></li>
				<li>Pilot project report (8 August 2013): <a href="/static/htc/docs/HT_automatic_classification_report.docx">HT_automatic_classification_report.docx</a></li>
				<li>Andrew Ball's review notes (12 September 2013): <a href="/static/htc/docs/adb_review_20130912.docx">adb_review_20130912.docx</a></li>
			</ul>
		</p>
	</div>

	<div class="well">
		<h3>Post-pilot development</h3>
		<p>
			<ul>
				<li>Development proposal (22 September 2013): <a href="/static/htc/docs/HT_classifier_post-pilot_development.docx">HT_classifier_post-pilot_development.docx</a></li>
				<li>Development report (16 November 2013): <a href="/static/htc/docs/HT_classification_post-pilot_development_report.docx">HT_classification_post-pilot_development_report.docx</a></li>
				<li>Evaluation (8 November 2013): <a href="/static/htc/docs/htclassifier_evaluation_20131108.xlsx">htclassifier_evaluation_20131108.xlsx</a></li>
			</ul>
		</p>
	</div>

	<div class="well">
		<h3>Background</h3>
		<p>
			<ul>
				<li>HTOED methodology (1976): <a href="/static/htc/docs/Methodological_appendix_to_1976_funding_proposal.pdf">Methodological_appendix_to_1976_funding_proposal.pdf</a></li>
			</ul>
		</p>
	</div>
{% endblock %}
